@import "../font/inter.css";
*{
  box-sizing: border-box;
  font-weight: 400;
}
body {
  margin: 0;
  font-family: 'Inter',--apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4{
padding:0px;
margin:0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  position: relative;
z-index: 0;
background-color: #F9FAFB;
}
.credits{
  position: fixed;
  bottom: 0;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 768px) {
  .App{
    display: flex;
    flex-direction: row;
  }
}
